.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.links {
  color: white;
  text-decoration: none;
  transition: .6s;
}

.links:hover {
  color: rgb(124, 121, 121);
}

.fa-apple {
  color: white;
  transform: scale(1.4)
}

.mac-bar {
  background: #2D2D2D;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 60px;
  align-items: baseline;
  height: 90px;
}

.mac-item h5 {
  margin-top: -6px;
  font-size: 11px;
}

.mac-item img {
  filter: brightness(0) invert(1);
}

.mac-item h6 {
  margin-top: -20px;
  color: orange;
}